@value borderColor, backShade, secondaryFontColor, primaryFontColor from 'SharedStyles/globalStyles.css';

.column {
  display: inline-block;
  padding-right: 10px;
  margin-left: 10px;
}

.gray {
  color: gray;
}

.noUnderline {
  text-decoration: none;
}

.narrowDl {
  margin: 0.5em 0px;
}