@value largeBP from 'SharedStyles/globalStyles';

.container {
  margin-top: 20px;
  display: flex;
  @media largeBP { flex-flow: row nowrap; }
}

.loadingMsg {
  margin-top: 20px;
  text-align: center;
}

.errorMsg {
  margin-top: 20px;
  color: rgba(231, 76, 60,1.0);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.header {
  /*border-bottom: 1px solid borderColor;*/
  height: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: backShade;
}

.title {
  padding-left: 10px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}